<form method="POST" action="/images/{% if image.id %}{{image.id}}{% endif %}">
	{% if image.id %}
		<input type="hidden" name="id" value="{{ image.id }}"/>
	{% endif %}
	<div>
		<label for="title">Image:</label>
		<select name="variantId">
			{% for variant in variants %}
				<option value="{{ variant.id }}" 
				{% if variant.productId == image.variantId %}selected="selected"{% endif %}>
				{{ variant.title }}
			</option>
			{% endfor %}
		</select>
		
	</div>
	<br/>
	<div>
		<input type="submit" name:"submit"/>
	</div>
</form>