{% extends 'layouts/base.twig'%}

{% block main_content %}
	<h2>All Products:</h2>
	<ul>
		{% for image in images %}
			<li>
				<p>Image: </p>{{ image.id }} -
				<a href="/images/{{ image.id }}">Edit</a>
				<a href="/images/{{ image.id }}/delete">Delete</a>
			</li>
		{% endfor %}
		<br/>
		<a href="/images/new">Create New Image</a>
	</ul>
{% endblock %}